/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style reset */
body {
    font-family: 'Montserrat', sans-serif;
    color: #787b80;
}

li {
    list-style-type: none;
    padding: 5px 0;
}

.space-list {
    padding: 15px 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

hr {
    background-color: #5a5a5a;
    border-color: #5a5a5a;
}

/* COMMON */

/* imagine */
img {
    width: 100%;
}

/* columns */
.col {
    float: left;
}

/* buttons */
.btn {
    padding: 10px 30px;
    margin: 10px;
    border: solid white 1px;
    border-radius: 20px;
}

/* text style */
.text-white {
    color: white;
}

.text-grey {
    color: #787b80;
}

.text-small {
    font-size: 7px;
    font-weight: bold;
}

.text-medium {
    font-size: 10px;
    font-weight: bold;
}

.text-big {
    font-size: 12px;
    font-weight: bold;
}

/* title style */
h5 {
    display: inline-block;
    font-size: 11px;
    color: white;
}
h4 {
    display: inline-block;
    font-size: 14px;
    color: white;
}
h3 {
    display: inline-block;
    font-size: 20px;
    color: white;
}

.title-space {
    padding: 15px 0 10px 0;
}

/* HEADER */

/* upgrade section */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, .6);
    text-align: right;
}

.btn-active:hover{
    font-size: 12px;
}

/* MAIN */

.megacontainer-main {
    height: calc(100vh - 60px);
    width: 100%;
}

/* main side menu  */
.container-main-left-menu-1 {
    height: 100%;
    width: 200px;
    background-color: #000000;
    overflow: hidden;
    padding: 0 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/* logo part */
.box-logo {
    width: 100%;
    line-height: 60px;
    text-align: left;
    padding-left: 10px;
}

.img-logo {
    width: 80%;
    vertical-align: middle;
}

/* side menu part */
.box-menu-home {
    vertical-align: middle;
}

.box-menu-home > ul > li.border-left-green {
    border-left: solid #92d72d;

}

.box-menu-playlist {
    padding-left: 10px;
}

.link:hover {
    color: white;
}

.case-crea-playlist:hover .background-icon-plus {
    background-color: white;
}

.background-icon-plus:hover > .link-playlist {
    color: white;
}

.link-playlist:hover {
    color: white;
}


.box-install-profile {
    padding-left: 10px;
}

.icon-side-menu {
    width: 30px;
    vertical-align: middle;
    padding-left: 10px;
}

.background-icon-plus {
    background-color: #a3a3a3;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: black;
}

.text-medium > li {
    padding: 4px 0;
}

.fa-plus {
    vertical-align: middle;
}

.icon-download {
    height: 12px;
    width: auto;
    vertical-align: middle;
}

.hr-download {
    margin: 10px 0;
}

.box-icon-profile {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: #808080;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin-bottom: 5px;
}

.icon-profile {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

/* main content */
.main-content {
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: scroll;
}

/* navbar */
.navbar {
    display: flex; 
    flex-wrap: wrap;  
    justify-content: center;
    margin-top: 60px;
}

.navbar > li > span > a {
    font-size: 11px;
    font-weight: bold;
    color: #787b80;
    display:inline-block;
    padding: 0 10px;
}
.navbar > li > span > a:hover {
    color: white;
}

.underline-small{
    display:inline-block;
    position:relative;
    font-size: 11px;
    font-weight: bold;
    color: #787b80;
    padding: 0 10px;
}

.underline-small:after{
    content:'';
    height:2px;
    width:20%;
    background:#92d72d;
    position:absolute;
    margin:auto;
    bottom:-5px;
    left:0; 
    right:0;
}

.container-recently-played {
    display: flex;
    flex-wrap: wrap;
    
    margin: 20px 0;
}

.container-2-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
}

.box-cover-album {
    width:calc( 100% / 6) ;
    padding: 10px;
    
}

.img-container {
    position: relative;
}

.ghost {
    display: none;
}

.box-cover-album:hover .ghost {
    display: inline-block;    
}

.box-cover-album:hover .overlay {
    display: inline-block;    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    border-radius: inherit;
    display: none;
    text-align: center;
    vertical-align: middle;
    line-height: 110px;
    
}
.overlay-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.real {
    display: inline-block;
}

.box-cover-album:hover .real {
    display: none;
}

.creato-per-te {
    padding: 10px;
}

.mix-title {
    margin: 20px 20px;
}

/* FOOTER */

footer {
    padding: 0 10px;
    background-color: #282828;
}

.underline-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container-player-bar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-song-name {
   display: flex;
   align-items: center;
}

.container-img-played {
    margin: 0 10px;
}

.song-played {
    width: 50px;
    margin: 0 10px;

}

.container-name-played {
    margin: 0 10px;
}

.box-player-bar {
    display: flex;
    width: 40%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.case-player-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.case-icon-bar {
    width: 50%;
    display: flex;
    margin: 10px auto 0 auto;
    justify-content: space-around;
}

.player-active {
    display: flex;
}

.player-active:hover {
    font-size: 20px;
}

.space-icon {
    margin: 0 5px;
}

.minicase-player-bar {
    width: calc(80% - 10px);
    margin: 0 5px;
}

.minicase-volume-bar {
    display: flex;
    width: 25%;
    align-items: center;
}

.case-volume-bar {
    display: flex;
    width: 20%;
    align-items: center;
}

.player-grey-bar {
    background-color: gray;
    height: 4px;
    width: 100%;
    border-radius: 10px;
}

.green-player-bar {
    background-color: lightgreen;
    height: 4px;
    width: 40%;
    display: none;
    position: relative;
    border-radius: 10px;
}

.minicase-player-bar:hover .green-player-bar {
    display: flex;
    align-items: center;
}

.minicase-player-bar:hover .dot {
    display:flex;
}

.case-volume-bar:hover .green-player-bar {
    display: flex;
    align-items: center;
}

.case-volume-bar:hover .dot {
    display:flex;
}

.dot {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: none;  
}

.background-round {
    border-radius: 50%;
}

.subcontainer-main-left-menu-xs-size {
    display: none;
}

/* MEDIAQUERY */
/* desktop first */
/* partendo da Spotify-lg */

/* spotify-md */
@media screen and (max-width: 1100px) {
    .box-cover-album {
        width:calc( 100% / 4) ;   
    }
}

/* Spotify-sm */

@media screen and (max-width: 700px) {
    .box-cover-album {
        width:calc( 100% / 2) ;   
    }

    img {
        width: 80%;
    }

}

/* Spotify-xs */

@media screen and (max-width: 600px) {

    .container-main-left-menu-1 {
        display: none;
    }

    .container-main-left-menu-2 {
        width: 60px;
        padding-left: 5px;
        text-align: center;
        display: flex;
        padding-right: 5px;
        height: 100%;
        background-color: #000000;

    }

    img {
        width: 70%;
        max-width: 200px;
    }

    img.img-logo {
        max-width: 60%;
    }

    img[class$="-xs"] {
        max-width: 50%;
    }

    .mix-title {
        min-width: 20px;
    }
    .text-medium {
        min-width: 10px;
    }

    h4 {
        min-width: 10px;
    }

    .subcontainer-main-left-menu-normal-size {
        display: none;
    }
    .subcontainer-main-left-menu-xs-size {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .box-logo-xs {
        padding-left: 0;
        text-align: center;
        margin-right: 0;
        padding-top: 5px;


    }

    .megabox-profile-download-xs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        align-content: center;
    }

    .box-install-profile-xs {
        padding-left: 0;
        text-align: center;
        

    }

    .upgrade {
        width: calc(100% - 60px);
    }

    .main-content {
        width: calc(100% - 60px);

    }

    .box-song-name {
        margin-right: 10px;
    }

    .icon-download {
        height: 70%;
    }
}




