/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style reset */
body {
    font-family: 'Montserrat', sans-serif;
    color: #787b80;
}

li {
    list-style-type: none;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

/* COMMON */

/* imagine */
img {
    width: 100%;
}

/* columns */
.col {
    float: left;
}

/* buttons */
.btn {
    padding: 10px 30px;
    margin: 20px;
    border: solid white 1px;
    border-radius: 20px;
}

/* text style */

.text-white {
    color: white;
}


.text-small {
    font-size: 10px;
    font-weight: bold;
}

.text-medium {
    font-size: 13px;
    font-weight: bold;
}

.text-big {
    font-size: 16px;
    font-weight: bold;
}

/* title style */
h5 {
    display: inline-block;
    font-size: 14px;
    color: white;
}
h4 {
    display: inline-block;
    font-size: 17px;
    color: white;
}
h3 {
    display: inline-block;
    font-size: 26px;
    color: white;
}


/* HEADER */
/* upgrade section */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    width: calc(100% - 200px);
    background-color: #080b12;
    text-align: right;
}

/* MAIN */

.container {
    height: calc(100vh - 80px);
    width: 100%;
}

/* main side menu  */
.main-side-menu {
    height: 100%;
    width: 200px;
    background-color: #000000;
    overflow: hidden;
    padding-left: 20px;
}

/* logo part */
.box-logo {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: left;
    
}

.img-logo {
    width: 70%;
    vertical-align: middle;
}

/* side menu part */
.main-side-menu {
    padding: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.box-menu-home {
    vertical-align: middle;
    
}

.icon-side-menu {
    width: 25px;
    vertical-align: middle;
}


.background-icon-plus {
    background-color: #a3a3a3;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    color: black;
}

.fa-plus {
    vertical-align: middle;
}

.icon-download {
    height: 20px;
    width: auto;
    vertical-align: middle;
}


.background-icon-profile {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: #808080;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.icon-profile {
    height: 30px;
    width: auto;
    vertical-align: middle;
}

/* main content */
.main-content {
    padding: 20px;
    padding-top: 80px;
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: scroll;
}

.navbar {
    display: flex; 
    flex-wrap: wrap;  
    justify-content: center;
}

.navbar > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #787b80;
}

.container-recently-played {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
}

.container-creato-per-te {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 0;
}

.box-cover-album {
    width:calc( 100% / 6) ;
    padding: 20px 20px;
}

.creato-per-te {
    padding: 20px 20px;
}


.mix-title {
    margin: 40px 20px;
}





/* FOOTER */

footer {
    padding: 10px;
    background-color: #282828;
}

.player-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-song-name {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.container-img-played {
    margin: 0 10px;
}

.song-played {
    width: 50px;
    margin: 0 10px;

}

.container-name-played {
    margin: 0 10px;
}

.box-player-bar {
    display: flex;
    min-width: 200px;
    text-align: center;
    flex-direction: column;
    justify-content: center;

}



.case-player-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.case-volume-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.hr-player-bar {
    width: 300px;
    margin: 10px;
    
}

.hr-volume {
    width: 100px;
    margin: 10px;
}

.background-round {
    border-radius: 50%;
}

