/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #787b80;
}

/* COMMON */

/* columns */
.col {
    float: left;
}

/* buttons */
.btn {
    padding: 10px 30px;
    margin: 20px;
    border: solid white 1px;
    border-radius: 20px;
}

/* text style */



.text-small {

}

.text-medium {

}

.text-big {

}

/* title style */
h5 {

}
h4 {
    display: inline-block;
    font-size: 10px;
    color: white;
}
h3 {

}


/* HEADER */
/* upgrade section */
.upgrade {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #080b12;
    text-align: right;
}

/* MAIN */

.container {
    height: calc(100vh - 80px);
    width: 100%;
}

.main-content {
    padding-top: 80px;
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: scroll;
}

.main-side-menu {
    height: 100%;
    width: 200px;
    overflow: hidden;

}

/* FOOTER */
.player-bar {
    height: 80px;
    width: 100%;
    background-color: #282828;
}